{{ define "Header" }}
<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <title>Job Tracker CURD</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Job Tracker</h1>
{{ end }}
